@import "tailwindcss";

@font-face {
    font-family: Inter;
    src: url(/fonts/Inter-V.ttf), format('truetype');
    font-display: swap;
}
@font-face {
    font-family: Recursive;
    src: url(/fonts/Recursive.ttf), format('truetype');
    font-display: swap;
}